body{
    background: #CACAC8;
}

.bl-background {
    background: #CACAC8;
    /* padding: 20px;*/
    margin-top: 110px;
}

.container {
    width: 100%;
    max-width: 1200px;
    min-width: 500px;
    margin: auto;
}

.bl-list {
    background: white;
    width: 95%;
    border-radius: 2%;
}

.bl-add{
    margin: 10px;
    line-height: 30px;
    width: 75%;
}

.bl-bought {
    border-radius: 3%;
    line-height: 50px;
    background: white;
    width: 30%;
    float: right;
    border: 1px solid gray;
    margin-top: -275px;
    /* margin-top: -25%;*/
}

.bl-product {
    float: left;
    width: 30%;   
}

.bl-item{
    display: inline;
    width: 20%;
    padding:8px;
    background: #E5E4E2;
    margin:3px;
    border-radius: 7%;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-family:"Lucida Calligraphy",cursive, sans-serif;
}

.bl-product .item {
    padding-left: 7%;
    line-height: 50px;
    font-family:"Lucida Calligraphy",cursive, sans-serif;
}

.bl-row {
    height: 60px;
    padding-top: 10px;
    border: 1px solid gray;
    position: relative;
    /*overflow: hidden;*/
}

.bl-title{
    font-weight: bold;
    font-family:"Lucida Calligraphy",cursive, sans-serif;
    font-size: 20px;
    border-top: 1px solid gray;
    padding: 8px;
    padding-left:20px;
}

.bl-need, .already-bought{
    border-top: 1px solid gray;
    padding: 10px;
}

.bl-count{
 line-height: 50px;
 display: inline-block;
 position: absolute;
}

.bl-buttons {
    line-height: 50px;
    width: 25%;
    right: 0;
    text-align: right;
    padding-right: 30px;
    display: inline-block;
    position: absolute;
}

.bl-left{
    width: 70%;
}

.bl-text{
    position: relative;
    border: 1px solid gray;
}

.already-bought .bl-item{
    text-decoration: line-through;
}

.sticker{
    position:fixed;
    width: 150px;
    height: 150px;
    bottom:-110px;
    left: 10px;
    background-color: #AD0E6F;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: all 100ms linear;
}

.sticker:hover{
    transform:translateY(-100px);
    background-color: #842DCE;
}

.buy{
    font-size: 37px;
    font-weight: bold;
}

.created{
    margin-top: 15px;
    font-size: 20px;
}

.name{
    font-size: 25px;
    margin-top: 20px;
}

/*Buttons*/
.bl-label {
    background: #cdcbcb;
    font-size: 14px;
    padding-right: 11px;
    padding-left: 11px;
    padding-top: 7px;
    padding-bottom: 6px;
    border-radius: 20%;
}

.bl-plus {
    display: inline-block;
    background: #04a613;
    color: white;
    border: 0px;
    outline: none;
    border-radius: 50%;
    padding-right: 10px;
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

.bl-minus {
    display: inline-block;
    background: #FF9477;
    color: white;
    border: 0px;
    outline: none;
    border-radius: 50%;
    padding-right: 10px;
    padding-left: 9px;
    padding-top: 3px;
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 18px;
}

.btn-add{
    background: #1462CE;
    color: white;
    border: 0px;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 15px;
    font-family:"Lucida Calligraphy",cursive, sans-serif;
    font-weight: bolder;
    border-radius: 10%;
}

.bl-ok{
    background: #E5E4E2;
    color: black;
    border: 0px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    font-family:"Lucida Calligraphy",cursive, sans-serif;
    font-weight: bolder;
    border-radius: 10%;
}

.bl-delete{
    background: #E10000;
    color: white;
    border: 0px;
    padding-right: 13px;
    padding-left: 13px;
    padding-top: 8px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 15px;
    font-family:Geneva;
    font-weight: bolder;
    border-radius: 15%;
}

.need-to-buy{
    background:#F87217;
    color:white;
    font-size: 12px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 50%;
}

button{
    position: relative;
}

button::before{
    /*content: "Tooltip";*/
    content: attr(data-tooltip);
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -50px; 
    width: 75px;
    height: 40px;
    border-radius: 10%;
    font-size: 14px;
    font-family:"Lucida Calligraphy",cursive, sans-serif;
    background-color: #FFA5E1;
    color: black;
    transform:scale(0);
    transform-origin:50% 100%;
    transition: all 300ms linear;
}

button:hover::before{
  transform:scale(1);
}

@media print{

   .sticker{
    background: white;
    color: black;
    border: 3px solid #AD0E6F;
} 

.buy{
    display: none;
}

.created{
    display: none;
}

.name{
    margin-top: 5px;
}

}

@media (max-width: 730px){

    .bl-background {
        margin-top: 0px;
    }

    .bl-bought{
        width: 100%;
        margin-top: 0;
    }

    .container{
        min-width: 500px;
    }

    .bl-left{
        width: 100%;
        margin:25px;
    } 

}

.clearfix::after {
    visibility: hidden; 
    content:""; 
    height: 0; 
    clear: both; 
}